$primaryThemeColor: rgb(0, 207, 207);
$secondaryThemeColor: white;
$thirdThemeColor: rgb(0, 150, 150);
$fullTransparentColor: rgba($color: #ffffff, $alpha: 0.0);
$blurEffect: 2px;



body
{
        font-family: "Comic Sans MS", "Comic Sans", cursive; 
        margin: 0;
}

h1
{
    font-size: 50px;
    margin: 0 0 0 40px;
}
h2{
    margin: 0.3em 0 0 0;
}

button
{
    cursor: pointer;
    margin: 10px 30px 25px 25px;
    height: 50px;
    width: 75px;
    max-width: 150px;
    border-radius: 0 10px 10px 10px;
    background-color: $fullTransparentColor;
    color: $secondaryThemeColor;
    border: 3px solid $secondaryThemeColor; 
    font-size: 15px;
}

@keyframes highlightItem
{
    to {
        color: $primaryThemeColor;
        background-color: $secondaryThemeColor;
    }
}

button:hover{
    animation-duration: 0.5s;
    animation-name: highlightItem;
    animation-fill-mode: forwards;  
}    

.gameBox:hover{
    animation-duration: 0.3s;
    animation-name: highlightItem;
    animation-fill-mode: forwards;  
    *
    {
    animation-duration: 0.3s;
    animation-name: highlightItem;
    animation-fill-mode: forwards;  
    }
}    

header
{
    background-color: $primaryThemeColor;
    color: $secondaryThemeColor;
    min-height: 120px;
    width: auto;
    div
    {
        display: flex;
        flex-wrap: wrap;
        min-height: 75px;
        padding-top: 25px;
        h1, div, button
        {
            flex-grow: 0.5;
        }
    }
    
}
.emptyFlexboxItem{
    flex-grow: 5;
}
main
{
    min-height: 900px
}
footer
{
    background-color: $primaryThemeColor;
    color: $secondaryThemeColor;
    height: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;

    p{
        margin: 10px;
    }
}

.flexboxContainer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;

}

@mixin boxSize($width, $height)
{
    width: $width;
    height: $height; 
}


div[id^="gameBoxSet"]
{
    
    div
    {
        cursor: pointer;
        background-color: rgba(0, 207, 207, 0.2);
        border-radius: 0 10px 10px 10px;
        border: 3px solid $primaryThemeColor;
        margin: 0 25px 25px 45px;
        padding-top: 25;
        color: $thirdThemeColor;
        @include boxSize(300px, 150px);
        div
        {
            @include boxSize(245px, 115px);
            div
            {
                @include boxSize(190px, 80px);
                div
                {
                    @include boxSize(135px, 44px);
                }
            }
        }
    }
}
.contentDisabled
{   
        pointer-events:none;    
        -webkit-filter: blur($blurEffect);
        -moz-filter: blur($blurEffect);
        -o-filter: blur($blurEffect);
        -ms-filter: blur($blurEffect);
        filter: blur($blurEffect);
}
#gameFeedback
{
    display: flex;
    justify-content: center;
    margin-top: 20px; 
    #playerScore, #timeCounter
    {
               width: 200px;
    }
    div
    {
        margin: 0 80px;
    }
        
        p
        {
            color: $thirdThemeColor;
            line-height: 40px;
            font-size: 25px;
            margin-right: 10px;
        }
    
}

.modal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.6); 

   .closeButton {
        float: right;
        font-size: 40px;
        font-weight: bold;
        height: 50px;
        width: 50px;
    }
    .modalContent {
        background-color: rgba($color: white, $alpha: 0.3);
        margin: auto;
        padding: 20px;
        width: 80%;
        color: white;
        p{
            font-size: 30px;
        }
        img{
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

}




