body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin: 0;
}

h1 {
  font-size: 50px;
  margin: 0 0 0 40px;
}

h2 {
  margin: 0.3em 0 0 0;
}

button {
  cursor: pointer;
  margin: 10px 30px 25px 25px;
  height: 50px;
  width: 75px;
  max-width: 150px;
  border-radius: 0 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: 3px solid white;
  font-size: 15px;
}

@-webkit-keyframes highlightItem {
  to {
    color: #00cfcf;
    background-color: white;
  }
}

@keyframes highlightItem {
  to {
    color: #00cfcf;
    background-color: white;
  }
}

button:hover {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-name: highlightItem;
          animation-name: highlightItem;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gameBox:hover {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: highlightItem;
          animation-name: highlightItem;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.gameBox:hover * {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-name: highlightItem;
          animation-name: highlightItem;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

header {
  background-color: #00cfcf;
  color: white;
  min-height: 120px;
  width: auto;
}

header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 75px;
  padding-top: 25px;
}

header div h1, header div div, header div button {
  -webkit-box-flex: 0.5;
      -ms-flex-positive: 0.5;
          flex-grow: 0.5;
}

.emptyFlexboxItem {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
}

main {
  min-height: 900px;
}

footer {
  background-color: #00cfcf;
  color: white;
  height: 50px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

footer p {
  margin: 10px;
}

.flexboxContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

div[id^="gameBoxSet"] div {
  cursor: pointer;
  background-color: rgba(0, 207, 207, 0.2);
  border-radius: 0 10px 10px 10px;
  border: 3px solid #00cfcf;
  margin: 0 25px 25px 45px;
  padding-top: 25;
  color: #009696;
  width: 300px;
  height: 150px;
}

div[id^="gameBoxSet"] div div {
  width: 245px;
  height: 115px;
}

div[id^="gameBoxSet"] div div div {
  width: 190px;
  height: 80px;
}

div[id^="gameBoxSet"] div div div div {
  width: 135px;
  height: 44px;
}

.contentDisabled {
  pointer-events: none;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

#gameFeedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

#gameFeedback #playerScore, #gameFeedback #timeCounter {
  width: 200px;
}

#gameFeedback div {
  margin: 0 80px;
}

#gameFeedback p {
  color: #009696;
  line-height: 40px;
  font-size: 25px;
  margin-right: 10px;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal .closeButton {
  float: right;
  font-size: 40px;
  font-weight: bold;
  height: 50px;
  width: 50px;
}

.modal .modalContent {
  background-color: rgba(255, 255, 255, 0.3);
  margin: auto;
  padding: 20px;
  width: 80%;
  color: white;
}

.modal .modalContent p {
  font-size: 30px;
}

.modal .modalContent img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*# sourceMappingURL=style.css.map */